:root {
    --text-size: 20px;
    --container: oklch(29.292% 0.0247 195.962);
    --cell: oklch(33.289% 0.00004 271.152 / 0.747);
}

* {
    background: black;
    color: white;

    font-family: cursive;

    user-select: none;
    transition: 0.5s all;
}


#container {
    display: none;
    flex-wrap: wrap;
    opacity: 0;
    border: 5px solid var(--container);
    border-radius: 10px;
    margin: 45px;
    gap: 15px;
    padding: 25px;
}


#container .cell {
    display: flex;
    position: relative;         
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--cell);
    border-radius: 15px;
    padding: 10px 15px;
    width: 160px;
    height: 100px;

}

#container .cell>* {
    background: transparent;
}

#container .cell desc {
    text-align: center;
    position: absolute;
    transform: scale(0);
    color: gray;
}

#container .cell h2 {
    position: absolute;
}

#container .cell:is(:hover, :focus) {
    cursor: pointer;
    background: var(--cell);
    width: 250px;
    height: 120px;
}


#container .cell:is(:hover, :focus) desc {
    transform: scale(1) translateY(35px);
}

#container .cell:is(:hover, :focus) h2 {
    transform: translateY(-20px);
}